.card {
  border: 1px solid black;
  border-radius: .5em;
  margin-bottom: 1em;
  padding: 1em;
  background: white;
  color: black;
  transition: all 400ms ease-out;
}

.card--active {
  background: linear-gradient(45deg, black, #4a02f7);
  color: white;
}

